@import './overlay';

html,
body {
  margin: 0;
}

.movement__button {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  column-gap: normal;

  button {
    display: inline-block;
    margin: 0 auto;
    width: 5%;
    border-radius: 12px;
  }
}

.movement__left-right {
  display: flex;
  justify-content: center;
  width: 100%;
}
