.overlay {
  background-color: rgba(250, 235, 215, 1);
  display: block;
  height: 100%;
  text-align: center;
  z-index: 1;

  div {
    color: #818181;
    font-size: 36px;
    padding: 8px;
    text-decoration: none;
    transition: .3s;
  }
}

.overlay-content {
  margin-top: 30px;
  overflow: auto;
  // position: fixed;
  text-align: center;
  top: 25%;
  width: 100%;
}

.overlay-instruct {
  text-align: right;
  width: 50%;
}

.overlay div:hover, .overlay div:focus {
  color: #cd5c5c;
}

.overlay input {
  border: 2px solid rgba(238, 233, 233, 1);
  margin: 8px;
  padding: 5px;
  position: relative;
  transition: 0.3s;
}

.overlay input:hover, .overlay input:focus {
  border: 2px solid rgba(205, 92, 92, 0.7);
}

.overlay textarea {
  position: relative;
  width: 183px;
  padding: 5px;
  margin: 8px;
  border: 2px solid rgba(238, 233, 233, 1);
  transition: 0.3s;
}

.overlay textarea:hover, .overlay textarea:focus {
  border: 2px solid rgba(205, 92, 92, 0.7);
}

.game-display {
  //position: relative;

  text-align: center;
}

.dropbtn {
  background-color: #d27979;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
	display: inline-block;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: rgb(214, 143, 143);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
}

.dropdown a:hover {
  background-color: #ddd;
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #818181;
  padding-top: 1px;
}

h2 {
  text-align: center;
  font-size: 36px;
  color: #818181;
  padding-top: 25px;
}

body {
  background-color: #FAEBD7;
}

p {
  font-size: 18px;
  color: #818181;
}

#start {
  cursor: pointer;
}
